head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title= site.title
  meta(name='description', content='#{site.description}')
  meta(name='author', content='#{site.author}')
  meta(name='keywords', content='#{site.keywords}')
  link(rel='shortcut icon', href='#{baseUrl}/favicon.png')
  link(rel='apple-touch-icon-precomposed', href='/apple-touch-icon-precomposed.png')
  link(rel='stylesheet', href='#{baseUrl}/assets/styles/main.css')